# python cache/packages
__pycache__
.venv

# secrets (specified in compose)
.env

# irrelevant files for prod
.env.example
.gitignore
manage_vectordb.py

# legacy stuff
pgvector
postgres
pgvector-compose.yaml